<%
var url = "";
if (identity && identity.photo && identity.photo.length > 0 && identity.photo[0] && identity.photo[0].url) {
	url = identity.photo[0].url;
}
%>

<img src="<%= url %>" /> <%= identity.user_name %>


<form method="post" action="/identity/closeness/<%= identity.id %>">
	<input type="hidden" name="_method" value="put" />
	<input type="hidden" name="identity[_id]" value="<%= identity.id %>" />
<table width="100%">
	<tr class="">
		<td><input type="text" name="identity[closeness]" value="<%= identity.closeness %>" /></td>
		<td><input type="submit" value="Save" /></td>
	</tr>
</table>
</form>


<section class="activity-item-list stream-identity-<%= identity.id %>">
	
</section>

<script>
current_view = new ActivityView("identity-<%= identity.id %>", "");
<% items.forEach(function (item) { %>
current_view.add_item(<%- JSON.stringify(item) %>);
<% }) %>
</script>


<pre>
	<%- JSON.stringify(identity) %>
</pre>